﻿@model RentalMoviesTask.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
}

<h1 class="text-center">@Model.Title</h1>
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        <label for="birthdate">Date of birth</label>
        @Html.TextBoxFor(m => m.Customer.birthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.birthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="checkbox">
        @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsLetter) Subscribed to Newsletter?
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    @*To prevent security attack(CSRF)*@
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@*Enable client side validation*@
@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}
