﻿@model RentalMoviesTask.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>
        Memebership Type: @Model.MembershipType.Name
    </li>
    @if(Model.birthDate != null)
    {
    <li>
        Birthday: @Model.birthDate.Value.ToShortDateString()
    </li>
    }
</ul>