﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Movie Rental Store</h1>
    <p class="lead">System for managing movies rental</p>
    <div class="col-md-12">
        <img class="col-md-4" style="max-width: 30%" src="https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/sphe-mask_of_zorro_1997-Full-Image_GalleryCover-en-US-1484001920602._UR1920,1080_RI_SX356_FMjpg_.jpg">
        <img class="col-md-4" style="max-width: 30%" src="https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/sphe-2347859-Full-Image_GalleryCover-en-US-1548363631099._UR1920,1080_RI_SX356_FMjpg_.jpg">
        <img class="col-md-4" style="max-width: 30%" src="https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/wb-2045078_6000112291-Full-Image_GalleryCover-en-US-1553902089242._UR1920,1080_RI_SX356_FMjpg_.jpg">
    </div>
</div>

