﻿@model IEnumerable<RentalMoviesTask.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Movies</h1>
@if (!Model.Any())
{
    <p>There is no movies yet</p>
}
else
{
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Rental Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
            <tr>
                <td>
                    @movie.Name
                </td>
                <td>
                    @movie.Genre.Name
                </td>
                <td>         
                    <button data-movie-id="@movie.Id" type="button" class="btn-link js-add-movie-to-customer"
                            onclick="location.href='@Url.Action("createNewRentals", "Movies", new { id = @movie.Id })'">
                        Rental
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").dataTable();    

        });
    </script>
}

