﻿@model IEnumerable<RentalMoviesTask.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Movies</h1>
@if (!Model.Any())
{
    <p>There is no movies yet</p>
}
else
{
    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
                <th>Delete Movie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink((string)movie.Name, "Edit", "Movies", new { id = movie.Id }, null)

                    </td>
                    <td>
                        @movie.Genre.Name
                    </td>
                    <td>
                        <button data-movie-id="@movie.Id" type="button" class="btn-link js-delete-movie">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-12 text-center">
        @Html.ActionLink("Add New Movie", "new", "Movies", new { @type = "button" }, new { @class = "btn btn-primary" })
    </div>
}
@section scripts
{
    <script>
        $(document).ready(function () {
            $("#movies").dataTable();

            $("#movies").on("click",".js-delete-movie", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this movie?")) {
                    $.ajax({
                        url: "/api/movies/" + button.attr("data-movie-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                            location.reload();
                        }
                    });
                }
            });
        });
    </script>
}

